html, body, #map-canvas {
    height: 100%;
    margin: 0;
    padding: 0;
}

html {
    background-color: #F8F8F8;    
}

body {
    margin: 0 auto;            
    max-width: 62.5rem;
    height: 100%;
}

#map-canvas {
    height: 100%;
}

table {
    width: 100%;
}

.body {
    padding-left: 10px;
    padding-right: 10px;
}

#map-canvas img{
    max-width: none;
}